body{background: #1d1d1d; display:flex; overflow: hidden; font-family: 'M PLUS 2', sans-serif;}

.main{height: 100%; width: 100%; display: grid; place-items: center; z-index: 10;}

.bottoni{position:relative; margin-top: 10%;}

.down{color: #D9D9D9;font-size: 250%;font-weight: 700;}

.cond{font-size: 200%;font-weight: 600;}
.cond::before{color:#d9d9d9; opacity: 20%;content: "or ";}
.cond::after{color: #84b6ff;content: "share";}

.foto {border-radius: 31px; size: 10%; width: 100%;}

.fotot{text-align: center; margin-top:15%; margin-left:5%; margin-right: 5%;}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}